.Dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.DashboardContainer {
  width: 70%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.DashboardContainer p {
  margin-top: 0;
  margin-bottom: 4rem;
}

.back {
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  background-color: #2e6ae9;
  border: none;
  border-radius: 10px;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
}

.back:hover {
  background-color: white;
  color: #2e6ae9;
  cursor: pointer;
}

.back:active {
  transform: scale(0.92);
  color: rgb(105, 105, 105);
}
