.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #f0f0f0;
}

.todoContainer {
  width: 70%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.todoInput {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoTextInput {
  width: 38rem;
  height: 38px;
  font-size: 20px;
  color: gray;
  font-weight: 700;
  padding-left: 12px;
  margin-bottom: 12px;
  border-top: 1px solid #2e6ae9;
  border-bottom: 1px solid #2e6ae9;
  border-left: 1px solid #2e6ae9;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}

.todoTextInput:focus {
  outline: none;
  border-color: rgb(197, 197, 197);
}

.todoInput button {
  width: 7rem;
  height: 2.6rem;
  margin-bottom: 12px;
  padding: 2px;
  font-size: 15px;
  font-weight: 900;
  color: #2e6ae9;
  background-color: #ffffff;
  border: 1px solid #2e6ae9;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}

.todoInput button:hover {
  background-color: #ffffff;
  color: gray;
  cursor: pointer;
}

.todoInput button:active {
  color: rgb(105, 105, 105);
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
}

.taskBox {
  width: 70%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.taskRaw {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 13px #c1bcbc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskText {
  font-size: 18px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #484646;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 23rem;
  cursor: pointer;
}

.taskText.expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.taskTime {
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #484646;
}

.editBtn {
  font-size: 22px;
  cursor: pointer;
  color: #4137cf;
}

.deleteBtn {
  font-size: 20px;
  cursor: pointer;
  color: #4137cf;
}

.editTaskInput {
  width: 23rem;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  border: none;
}

.editTaskInput:focus {
  outline: none;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #484646;
}