.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: #f0f0f0;
}

.todoContainer {
  width: 70%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
