body {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  background-color: rgb(224, 224, 224);
}

.Contained {
  display: flex;
  justify-content: center;
}

.mainContainer {
  margin: 20px;
  width: 70%;
  height: 33rem;
  display: flex;
  background-color: rgb(253, 248, 248);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 1px 24px 0 rgb(0 0 0 / 0.1), 0 10px 19px -2px rgb(0 0 0 / 0.1);
  border: none;
  border-radius: 10px;
}

.imageView{
  width: 40%;
}

.viewImg{
  width: 100%;
  height: 33rem;
  border-radius: 10px 0 0 10px;
  border: none;
  box-shadow: 0 0 0 0 /rgb(0 0 0 / 0.1), 0 0 0 0 rgb(0 0 0 / 0.1);
}

.loginCard{
  margin: 20px;
  padding: 5px;
  width: 21.5rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
