/* :root {
  --bg1: #1b0b2e;
  --bg2: #3b0f6f;
  --accent: #8b5cf6;
  --text: #efe9ff;
  --muted: #c7b8ff;
  --card: rgba(255, 255, 255, 0.06);
}

body {
  margin: 0;
  background: linear-gradient(180deg, var(--bg1), var(--bg2));
  font-family: Arial, sans-serif;
  color: var(--text);
} */
* {
  color: rgb(238, 238, 238);
}
a {
  color: inherit;
  text-decoration: none;
}

.dash-wrap {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background: rgba(255, 255, 255, 0.04);
  padding: 20px;
  backdrop-filter: blur(6px);
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.logo {
  width: 45px;
  height: 45px;
  background: var(--accent);
  color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 10px 0;
  cursor: pointer;
  color: var(--muted);
}
.menu li:hover {
  color: rgb(235, 168, 255);
}

.menuSaperater {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  list-style: none;
}
.saperater {
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  height: 1px;
  background: var(--muted);
}

/* Main */
.main {
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar input {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--card);
  color: white;
}

.Logout {
  background-color: #5f2c87;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.Logout:hover {
  background-color: #28005cec;
}

.stats-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stat-card {
  padding: 20px;
  background: var(--card);
  border-radius: 12px;
}

.stat-card h3 {
  margin: 0;
  color: var(--muted);
}

.stat-card p {
  font-size: 24px;
  margin-top: 10px;
}

.panels {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 25px;
}

.panel {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
}

.panel h3 {
  margin-top: 0;
}

.panel ul {
  padding-left: 20px;
}
