* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 65vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: white;
  border: 1px solid #7f7f7fa8;
  border-radius: 10px;
}

.loginHead {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.loginInput {
  width: 20rem;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  color: white;
  font-size: 15px;
  font-weight: 700;
  background: rgb(255 255 255 / 0%);
}

.loginInput::-webkit-input-placeholder {
  color: rgb(235, 235, 235);
  opacity: 1;
}

.loginInput:focus {
    border: 1px solid #ccc;
    outline: none;
}

.forget {
  margin-left: 12rem;
}

.loginBtn {
  width: 20rem;
  height: auto;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 2rem;
  font-size: 18px;
  font-weight: 600;
  color: #535353;
  background-color: #f3f3f3;
  cursor: pointer;
}

.register {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
